Repository GiantCroissant-Lunar/sango-card: changes, and which pre-commit hooks are due for each by the changed paths.
All: partial-class-interface-separation, check-scattered-docs, docs-validate

Path conditions:
  partial-class-interface-separation: any of: \.cs$, but not: projects/client/|\.g\.cs$|\.designer\.cs$
  check-scattered-docs: any of: \.md$
  docs-validate: any of: ^docs/.*\.md$, but not: docs/index/registry\.json$

refactor: simplify assetManipulations to delete entire MessagePackGenerated folder
  build/configs/preparation/multi-stage-preparation.json
Due: none

fix: correct com.cysharp.messagepipe package hash and remove duplicate .nuke directory
  build/configs/preparation/preparation.json
  build/nuke/.nuke/.gitignore
  build/nuke/.nuke/build.schema.json
  build/nuke/.nuke/parameters.json
Due: none

refactor: separate preparation and injection configs with clear naming
  build/configs/preparation/README.md
  build/configs/preparation/multi-stage-injection.json
  build/nuke/build/Build.Preparation.cs
  build/nuke/build/Schemas/multi-stage-injection.schema.json
Due: partial-class-interface-separation, check-scattered-docs

feat: create complete v2.0 multi-stage configs for both preparation and injection
  build/configs/preparation/multi-stage-injection.json
  build/configs/preparation/multi-stage-preparation.json
  build/nuke/build/Schemas/multi-stage-preparation.schema.json
Due: none

docs: add architecture documentation and remove v1.0 configs
  build/configs/preparation/README.md
  build/configs/preparation/injection.json
  build/configs/preparation/preparation.json
  build/nuke/build/Build.Preparation.cs
  build/nuke/build/Schemas/injection.schema.json
  build/nuke/build/Schemas/preparation.schema.json
  docs/_inbox/build-config-architecture.md
Due: partial-class-interface-separation, check-scattered-docs, docs-validate

docs: organize scattered documentation files
  docs/_inbox/2025-10-17-caveat-the-messages-below-were-generated-by-the-u-003.txt
  docs/archive/TOOL-DESIGN-V2-consolidated.md
  docs/archive/TOOL-DESIGN-V3-consolidated.md
  docs/archive/TOOL-DESIGN-consolidated.md
  docs/archive/scattered-build-tool-docs-plan.md
  docs/archive/scattered-docs-cleanup-summary.md
  docs/archive/v1-config-deprecation.md
  docs/findings/dotnet-rename-summary.md
  docs/findings/fix-docs-validate-infinite-loop.md
  docs/findings/messagepack-duplicate-formatters-fix.md
  docs/findings/nuke-failure-handling.md
  docs/guides/injection-implementation-summary.md
  docs/guides/multi-stage-injection-implementation.md
  docs/guides/report-build-component.md
  docs/guides/report-location.md
  docs/guides/report-project-summary.md
  docs/guides/report-usage-examples.md
  docs/guides/task-lint-format-commands.md
  docs/specs/build-config-architecture.md
  docs/specs/multi-stage-injection-design.md
Due: check-scattered-docs, docs-validate

feat(build): comprehensive build system optimization
  .node-options
  Taskfile.yml
  build/configs/preparation/multi-stage-injection.json
  build/configs/preparation/multi-stage-preparation.json
  build/nuke/build/Build.Preparation.cs
  docs/_inbox/build-cache-cleanup-summary.md
  docs/_inbox/build-cache-optimization-notes.md
  docs/build-system-optimization-summary.md
  docs/build-tool-nuke-migration.md
  docs/build-tool-optimization.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/SangoCard.Build.Tool.csproj
  scripts/cleanup-preparation-cache.ps1
  scripts/verify-preparation-cache.ps1
Due: partial-class-interface-separation, check-scattered-docs, docs-validate

feat(code-quality): add one-type-per-file enforcement tooling
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  README.md
  Taskfile.yml
  packages/scoped-6571/com.contractwork.sangocard.build/Tools/README.md
  projects/code-quality/README.md
  projects/code-quality/code-quality.sln.DotSettings
  scripts/find_multiple_types.py
Due: check-scattered-docs

refactor: move agent configuration files to .agent/ directory
  .agent/AGENTS.md
  .agent/CLAUDE.md
Due: check-scattered-docs

docs: update references to moved agent configuration files
  .agent/AGENTS.md
  .agent/README.md
  docs/guides/documentation-enforcement.md
Due: check-scattered-docs, docs-validate

docs: organize root-level documentation files
  docs/archive/refactoring-summary.txt
  docs/archive/v2-config-summary.txt
  docs/guides/troubleshooting/nodejs-memory-fix.md
Due: check-scattered-docs, docs-validate

chore: add utility files for Node.js memory testing and C# config
  .nuke/build.schema.json
  .vscode/settings.json
  Taskfile.yml
  build/configs/preparation/multi-stage-injection.json
  build/configs/preparation/multi-stage-preparation.json
  build/nuke/build.ps1
  build/nuke/build/Components/IReportBuild.cs
  build/nuke/build/Components/IUnityBuild.cs
  packages/scoped-3208/com.contractwork.sangocard.game/Runtime/csc.rsp
  scripts/test-node-memory.ps1
Due: partial-class-interface-separation
