Repository GiantCroissant-Lunar/sango-card: changes, and which pre-commit hooks are due for each by the changed paths.
All: partial-class-interface-separation, check-scattered-docs, docs-validate

partial-class-interface-separation:
  name: Partial Class Interface Separation (R-CODE-090)
  entry: python git-hooks/python/check_partial_class_pattern.py
  language: python
  pass_filenames: false
  description: Validates partial class pattern for multi-interface classes

check-scattered-docs:
  name: Scattered Documentation Detection (R-DOC-001)
  entry: python git-hooks/python/check_scattered_docs.py
  language: python
  pass_filenames: false
  description: Blocks markdown files in non-canonical locations

docs-validate:
  name: Documentation Front-Matter Validation (R-DOC-002)
  entry: python git-hooks/python/docs_validate.py --pre-commit
  language: python
  pass_filenames: false
  description: Validates documentation front-matter and detects duplicates
  additional_dependencies:
  - pyyaml
  - simhash
  - rapidfuzz

feat(build-tool): Add dry-run mode and improve patchers
  packages/scoped-6571/com.contractwork.sangocard.build/Editor/Core/Report/PostprocessBuildWithReport.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/RUN-DRY-RUN-TESTS.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Cli/Commands/ConfigCommandHandlerDryRunTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Cli/Commands/Snapshots/AddSourceAsync_DryRun_Output.verified.txt
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/TextPatcherTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Patchers/UnityAssetPatcherTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Services/ConfigServiceTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/Core/Services/SourceManagementServiceDryRunTests.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool.Tests/DRY-RUN-TESTS-SUMMARY.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/ConfigCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/CSharpPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/JsonPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/ConfigService.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/SourceManagementService.cs
Due: partial-class-interface-separation, check-scattered-docs

feat(packages): Add build reporting and update cross package
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/AssemblyAttributes.cs
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/AssemblyAttributes.cs.meta
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/Module/CompositionRoot.cs.meta
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/Report/SangoCard.Cross.Report.Editor.asmdef
  packages/scoped-2151/com.contractwork.sangocard.cross/Editor/Report/csc.rsp
  packages/scoped-3208/com.contractwork.sangocard.game/Runtime/Report/ReportModels.cs
  packages/scoped-3208/com.contractwork.sangocard.game/Runtime/Report/SangoReportRuntime.cs
  packages/scoped-3208/com.contractwork.sangocard.game/Runtime/SangoCard.Game.asmdef
  packages/scoped-3208/com.contractwork.sangocard.game/package.json
Due: partial-class-interface-separation

docs(spec): Add dry-run implementation and verification docs
  .specify/DRY-RUN-IMPLEMENTATION.md
  .specify/DRY-RUN-VERIFICATION.md
Due: check-scattered-docs

chore(build): Update build schemas and version configuration
  .nuke/build.schema.json
  GitVersion.yml
  build/nuke/.nuke/build.schema.json
Due: none

feat(build): Add report build component to NUKE
  build/nuke/.nuke/temp/build-attempt.log
  build/nuke/.nuke/temp/build.2025-10-16_21-18-56.log
  build/nuke/.nuke/temp/build.2025-10-16_21-26-10.log
  build/nuke/.nuke/temp/build.2025-10-16_21-32-55.log
  build/nuke/.nuke/temp/build.2025-10-16_21-33-31.log
  build/nuke/.nuke/temp/build.2025-10-16_21-34-08.log
  build/nuke/.nuke/temp/build.log
  build/nuke/build/Build.ReportBuild.cs
  build/nuke/build/Build.UnityBuild.cs
  build/nuke/build/Build.cs
  build/nuke/build/Components/IReportBuild.cs
  build/nuke/build/_build.csproj
  docs/_inbox/report-build-component.md
Due: partial-class-interface-separation, check-scattered-docs, docs-validate

feat(dotnet): Add reporting library solution
  docs/_inbox/dotnet-rename-summary.md
  docs/_inbox/report-location.md
  docs/_inbox/report-project-summary.md
  docs/_inbox/report-usage-examples.md
  dotnet/SangoCard.sln
  dotnet/report/.gitignore
  dotnet/report/Directory.Build.props
  dotnet/report/README.md
  dotnet/report/Reporting.Abstractions/Attributes/ReportAttributes.cs
  dotnet/report/Reporting.Abstractions/IReportDataProvider.cs
  dotnet/report/Reporting.Abstractions/IReportEngine.cs
  dotnet/report/Reporting.Abstractions/PreparedModel.cs
  dotnet/report/Reporting.Abstractions/README.md
  dotnet/report/Reporting.Abstractions/ReportFormat.cs
  dotnet/report/Reporting.Abstractions/ReportMetadata.cs
  dotnet/report/Reporting.Abstractions/ReportOptions.cs
  dotnet/report/Reporting.Abstractions/ReportResult.cs
  dotnet/report/Reporting.Abstractions/Reporting.Abstractions.csproj
  dotnet/report/Reporting.Cli/Program.cs
  dotnet/report/Reporting.Cli/Reporting.Cli.csproj
  dotnet/report/Reporting.Core/README.md
  dotnet/report/Reporting.Core/Renderers/JsonRenderer.cs
  dotnet/report/Reporting.Core/Renderers/MarkdownRenderer.cs
  dotnet/report/Reporting.Core/Renderers/XmlRenderer.cs
  dotnet/report/Reporting.Core/Renderers/YamlRenderer.cs
  dotnet/report/Reporting.Core/Reporting.Core.csproj
  dotnet/report/Reporting.Core/SimpleReportEngine.cs
  dotnet/report/SangoCard.sln
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportAttributesTests.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportMetadataTests.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportModelsTests.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/Reporting.Abstractions.Tests.csproj
  dotnet/report/tests/Reporting.Core.Tests/MarkdownRendererTests.cs
  dotnet/report/tests/Reporting.Core.Tests/RenderersTests.cs
  dotnet/report/tests/Reporting.Core.Tests/Reporting.Core.Tests.csproj
  dotnet/report/tests/Reporting.Core.Tests/SimpleReportEngineTests.cs
Due: partial-class-interface-separation, check-scattered-docs, docs-validate

chore(infra): Update infrastructure configuration
  infra/README.md
  infra/ansible/README.md
  infra/ansible/group_vars/all.yml
  infra/ansible/playbook.yml
  infra/ansible/roles/build_tools/tasks/main.yml
  infra/ansible/roles/common/tasks/main.yml
  infra/ansible/roles/dotnet/tasks/main.yml
  infra/ansible/roles/git/tasks/main.yml
  infra/ansible/roles/nodejs/tasks/main.yml
  infra/ansible/roles/python/tasks/main.yml
  infra/ansible/roles/unity/tasks/main.yml
  infra/ansible/setup.ps1
  infra/ansible/setup.sh
  infra/terraform/github/README.md
  infra/terraform/github/terraform.tfvars.example
Due: check-scattered-docs

feat(build): Add build preparation configuration files
  .pre-commit-config.yaml
  build/preparation/configs/injection.json
  build/preparation/configs/preparation.json
Due: none

fix: Make PreparationConfig accessible to dry-run report
  build/nuke/build/Build.Preparation.cs
  build/nuke/build/Components/IReportBuild.cs
Due: partial-class-interface-separation

fix: Add code patches preview to dry-run report
  .gitleaks.toml
  build/nuke/build/Components/IReportBuild.cs
  git-hooks/dotnet/inspectcode.sh
  git-hooks/dotnet/roslynator.sh
Due: partial-class-interface-separation

feat(task): Add direct JetBrains InspectCode task
  Taskfile.yml
Due: none

fix: resolve InspectCode warnings in reporting library
  build/nuke/build/Build.Preparation.cs
  dotnet/report/Reporting.Abstractions/IReportEngine.cs
  dotnet/report/Reporting.Core/Renderers/XmlRenderer.cs
  dotnet/report/Reporting.Core/SimpleReportEngine.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportAttributesTests.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportMetadataTests.cs
  dotnet/report/tests/Reporting.Abstractions.Tests/ReportModelsTests.cs
  dotnet/report/tests/Reporting.Core.Tests/MarkdownRendererTests.cs
  dotnet/report/tests/Reporting.Core.Tests/SimpleReportEngineTests.cs
Due: partial-class-interface-separation

docs(git-hooks): document .NET code quality hooks
  git-hooks/README.md
  git-hooks/dotnet/dotnet-format.sh
Due: check-scattered-docs

feat(build): add config validation component and JSON schemas
  build/nuke/build/Build.ConfigBuild.cs
  build/nuke/build/Components/IConfigBuild.cs
  build/nuke/build/Schemas/injection.schema.json
  build/nuke/build/Schemas/preparation.schema.json
  build/nuke/scripts/build-prepare.ps1
  scripts/fix-preparation-config.ps1
Due: partial-class-interface-separation

refactor(build): use IReportBuild.RepoRoot for consistent path resolution
  build/nuke/build/Build.UnityBuild.cs
Due: partial-class-interface-separation

feat(build-tool): implement Roslyn-based code patching
  .specify/status/handovers/2025-01-18-roslyn-code-patches.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/CacheCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/CSharpPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/CacheService.cs
Due: partial-class-interface-separation, check-scattered-docs

chore(build): remove build logs from source control
  build/nuke/.nuke/.gitignore
  build/nuke/.nuke/temp/build-attempt.log
  build/nuke/.nuke/temp/build.log
Due: none

docs: organize injection implementation summary
  .pre-commit-config.yaml
  docs/_inbox/injection-implementation-summary.md
Due: check-scattered-docs, docs-validate

feat(build-tool): add hash-tolerant package matching and JSON patching
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/PrepareCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Patchers/JsonPatcher.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/PreparationService.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/ValidationService.cs
Due: partial-class-interface-separation

refactor(config): update preparation configs with bracket notation
  build/preparation/configs/DESIGN.md
  build/preparation/configs/README.md
  build/preparation/configs/injection.json
  build/preparation/configs/preparation.json
Due: check-scattered-docs

build: update task definitions and build schemas
  .nuke/build.schema.json
  Taskfile.yml
  build/nuke/.nuke/build.schema.json
  build/nuke/build/Components/IReportBuild.cs
Due: partial-class-interface-separation

infra: update ansible configuration
  infra/ansible/group_vars/all.yml
Due: none

chore: add preparation cache utility scripts
  scripts/cleanup-preparation-cache.ps1
  scripts/verify-preparation-cache.ps1
Due: none

feat(build): add explicit failure handling with AssuredAfterFailure
  build/nuke/build/Build.Preparation.cs
  build/nuke/build/Build.TestBuild.cs
  build/nuke/build/Components/ITestBuild.cs
Due: partial-class-interface-separation

docs: add Nuke failure handling implementation guide
  docs/_inbox/nuke-failure-handling.md
Due: check-scattered-docs, docs-validate

refactor(build): split tests into pre-build and post-build phases
  build/nuke/build/Build.TestBuild.cs
  build/nuke/build/Components/ITestBuild.cs
  docs/_inbox/nuke-failure-handling.md
Due: partial-class-interface-separation, check-scattered-docs, docs-validate

feat(build): add client:reset task for manual cleanup
  Taskfile.yml
Due: none

feat(build): add platform-specific Unity build targets
  build/nuke/build/Components/IUnityBuild.cs
Due: partial-class-interface-separation

docs: add multi-stage injection system design specification
  docs/_inbox/multi-stage-injection-design.md
Due: check-scattered-docs, docs-validate

feat(build): implement multi-stage injection system (Phase 2)
  Taskfile.yml
  build/nuke/.nuke/build.schema.json
  build/nuke/build/Build.Preparation.cs
  build/preparation/configs/multi-stage-preparation.json
  build/preparation/configs/multi-stage-schema.json
  docs/_inbox/multi-stage-injection-implementation.md
  docs/guides/build-multi-stage-injection.md
Due: partial-class-interface-separation, check-scattered-docs, docs-validate

refactor(build): reorganize configs to build/configs/ structure
  .nuke/build.schema.json
  Taskfile.yml
  build/.gitignore
  build/configs/README.md
  build/configs/preparation/DESIGN.md
  build/configs/preparation/README.md
  build/configs/preparation/injection.json
  build/configs/preparation/multi-stage-preparation.json
  build/configs/preparation/multi-stage-schema.json
  build/configs/preparation/preparation.json
  build/nuke/build/Build.Preparation.cs
  docs/_inbox/multi-stage-injection-implementation.md
Due: partial-class-interface-separation, check-scattered-docs, docs-validate

fix(build): restore legacy PrepareClient and fix build ordering
  build/nuke/build/Build.Preparation.cs
Due: partial-class-interface-separation

feat(build): add Python Unity log parser with comprehensive analysis
  Taskfile.yml
  build/nuke/scripts/README.md
  build/nuke/scripts/parse_unity_log.py
  docs/tools/unity-log-parser-summary.md
  docs/tools/unity-log-parser.md
Due: check-scattered-docs, docs-validate

fix(build): configure multi-stage to remove duplicate MessagePack formatters
  build/configs/preparation/multi-stage-preparation.json
  docs/_inbox/messagepack-duplicate-formatters-fix.md
Due: check-scattered-docs, docs-validate

feat(build): implement v2.0 multi-stage schema support in Build.Tool
  build/configs/preparation/multi-stage-preparation.json
  build/configs/preparation/multi-stage-schema.json
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/CacheCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Models/MultiStageConfig.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/ConfigService.cs
Due: partial-class-interface-separation

feat(build): wire up multi-stage injection execution in Nuke workflow
  .nuke/build.schema.json
  build/nuke/build/Build.Preparation.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/CliHost.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/PrepareCommandHandler.cs
Due: partial-class-interface-separation

refactor(build): execute v2.0 configs natively without downgrading to v1.0
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/PrepareCommandHandler.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Models/AssetManipulation.cs
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Core/Services/PreparationService.cs
Due: partial-class-interface-separation

docs(build): deprecate V1.0 config format in favor of V2.0 multi-stage
  build/configs/preparation/README.md
  build/nuke/build/Build.Preparation.cs
  docs/_inbox/v1-config-deprecation.md
  packages/scoped-6571/com.contractwork.sangocard.build/dotnet~/tool/SangoCard.Build.Tool/Cli/Commands/PrepareCommandHandler.cs
Due: partial-class-interface-separation, check-scattered-docs, docs-validate

refactor: move multi-stage schema to centralized Schemas directory
  build/configs/preparation/multi-stage-preparation.json
  build/nuke/build/Schemas/multi-stage-preparation.schema.json
Due: none

feat: add complete packages and assemblies to multi-stage config
  build/configs/preparation/multi-stage-preparation.json
Due: none

Path conditions:
  partial-class-interface-separation: any of: \.cs$, but not: projects/client/|\.g\.cs$|\.designer\.cs$
  check-scattered-docs: any of: \.md$
  docs-validate: any of: ^docs/.*\.md$, but not: docs/index/registry\.json$
